* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
  background: #ffffff;
}

.container {
  max-width: 90rem;
  width: 100%;
  padding: 0 4rem;
  margin: 0 auto;
}

.header {
  min-height: 70px;
  background: #121212;
}

.wrapper {
  color: #ffffff;
  min-height: 60px;
  float: left;
}
.wrapper .logo {
  float: left;
  margin: 0;
  padding: 9px 0 0 10px;
}
.navbar {
  display: block;
}

.nav-menu {
  margin: 0;
  padding: 4px 0 0 0;
  list-style: none;
  float: right;
}
.nav-menu li {
  display: inline-block;
  position: relative;
}
.nav-menu li a {
  display: block;
  padding: 1rem;
  color: #ffffff;
}
.nav-menu li:hover a {
  color: #9fa0a6;
}
.nav-menu .nav-item .item-dropdown {
  position: absolute;
  margin: 0.5rem 0;
  padding: 0;
  background: #404040;
  display: none;
}
.nav-menu .nav-item .item-dropdown .sub-item a {
  min-width: 10rem;
  width: 100%;
  text-align: left;
}
.nav-menu .nav-item i.fas {
  margin-left: 1rem;
}
.nav-menu .nav-item .item-dropdown .sub-item a {
  color: #ffffff;
  padding-bottom: 1rem;
}
.nav-menu .nav-item .item-dropdown .sub-item:hover a {
  color: #9fa0a6;
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
    margin: 0 auto;
  }

  header {
    background: #ffffff;
  }

  .wrapper {
    float: inherit;
  }

  .nav-toggle {
    cursor: pointer;
    display: block;
    float: right;
    padding: 1rem 0;
    border: none;
    outline: none;
  }

  span.toggle {
    background: #ffffff;
    width: 30px;
    height: 3px;
    display: block;
    margin: 5px 0;
    border: none;
    outline: none;
  }

  .nav-menu {
    display: none;
  }
  .nav-menu li {
    display: block;
    text-align: left;
  }
  .nav-menu li a {
    color: #ffffff;
  }
  .nav-menu .nav-item .item-dropdown {
    position: inherit;
    box-shadow: none;
  }
  .nav-menu .nav-item .item-dropdown .sub-item a {
    width: 100%;
    margin-left: 1.5rem;
  }
  .nav-menu .nav-item.has-dropdown {
    background: #2c2c2c;
  }
  .nav-menu .nav-item i.fas {
    margin: 0;
    float: right;
  }
}
